.Body {
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: #e6ecf0;
}
.signupBox {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 35px;
}

.signupHeader {
  font-weight: bold;
  margin-bottom: 20px;
}

.signupPageCanvas {
  width: auto;
  max-width: 835px;
  margin: auto;
  height: auto;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  font-family: "Roboto", sans-serif;
  margin-top: 5px;
  padding-top: 30px;
}
