body {
  background-color: #e6ecf0;
}

.root {
  flex-grow: 1;
}

.Nav {
  height: 60px;
  align-content: center;
  align-items: flex-start;
  padding: 0 0 0 200px;
}

.Typo {
  word-spacing: 20px;
}

.field {
  height: 50px;
  width: 300px;
}

.zorar {
  margin-top: 30px;
}

.submit {
  height: 40px !important;
  width: 90px !important;
  background-color: #1da1f2 !important;
  border: 1px solid #1da1f2 !important;
  color: #fff !important;
}

.submit:hover {
  background-color: #1185ce !important;
}

.laz {
  margin-top: -20px;
}

.InputBox {
  font-family: "Roboto", sans-serif;
  padding: auto;
  width: auto;
  margin-left: 115px;
  margin-right: 115px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 0;
}

.PageCanvas {
  width: auto;
  max-width: 835px;
  margin: auto;
  height: 400px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  font-family: "Roboto", sans-serif;
  margin-top: 5px;
  padding-top: 30px;
}
