body {
    background-color: #e6ecf0;
}


.PageCanvas {
    width:auto;
    max-width: 835px;
    margin: auto;
    height: 320px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0px;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    padding-top: 10px;
    
}

.loginBox{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 35px;
}

.loginButton{
    border-radius: 50px;
    background-color: #1da1f2;
    border-color: #1da1f2;
    width: 80px;
    margin-right: 20px;
}

.headerText{
    font-weight: bold;
    margin-bottom: 20px;
}

.passField{
    margin-bottom: 25px;
}

.inputFields{
    width:350px;
    height:30px;
}

.Links{
    color :#1c94e0;
    font-size:14px;
}

.downDiv{
    background-color: #f5f8fa;
    height: 34%;
    padding-left:115px;
    padding-top:15px;
    padding-bottom:10px;
}

.downText{
    margin-bottom: 10px;
    color:#657786;
    font-size: 14px;
}



