.AuthNav{
    padding-left: 15%;
    border-bottom-style: inset;
    border-bottom-width: thin;
    border-bottom-color:rgba(133, 129, 129, 0.301);
    font-family: 'Roboto', sans-serif;
}

.LogoNavBar{
    margin-top: 8px;
}


