.PageHeader {
  font-size: 28px;
  font-weight: 200;
  color: #66757f;
  margin-bottom: 36px;
}

.Edge {
  font-weight: bold;
  color: #14171a;
}
.PasswordPageCanvas {
  width: auto;
  max-width: 835px;
  margin: auto;
  height: auto;
  max-height: 500px;
  background-color: white;
  border: 0px;
  border-radius: 0px;
  font-family: "Roboto", sans-serif;
  margin-top: 5px;
  padding-top: 30px;
}
